body{

    font-family: 'Mukta', sans-serif;
    
}
body {
    background-color:#e6dcfc ;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}
#box{
    width:600px;
    background-color: yellowgreen;
    margin:5em auto;
    border: 7px solid green;   
    border-radius:1em;
    padding: 20px;
    
    
}
#img
{
    float:right;width:200px;height:200px;
    text-align:center;
     border-radius:10px; 
   
}